.card-container {
  width: 200px;
  height: 380px;
  background-color: #FFFFFF;
  border-radius: 4.48873px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: -50px;
  border: 1px solid #c7c7c7;
}
.card-container:hover{
  
  border: 2px solid #c7c7c7;
}
.card-container h3 {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16.6619px;
  line-height: 20px;
}
.login3 {
  width: 80%;
  height: 35px;
  padding-top: -200px;
  margin-bottom: 3%;
  border: 1px solid #FAB0AF;
  border-radius: 3px;
  outline: none;
  background-color: #FAB0AF;
  color: white;
  cursor: pointer;
  margin-left: 23px;
}

.login3:hover {
  background-color: #ffcbca;
  border: #fdcbca;
}
