*{
    margin:0;
    padding:0;
    outline: 0;
}
.container {
  width: 100%;
  background-color: #FFFFFF;
}

.title-container {
  padding-left: 99px;
  padding-top: 20px;
  width: 80%;
}

.title-container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  color: #facbcb;
  padding-top: 50px;
}

#table {
  list-style: none;
  min-height: 264.5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer{
    width: 100%;
    position:relative;
    bottom: 0;
}
#table ul {
 list-style: none;
 width: 900px;

}
#total{
 border: 1px solid #C7C7C7;
 width: 760px;
 padding: 10px;
 padding-left: 40px;
}