.card-container2 {
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 2.48873px;
    border:1px solid #C7c7c7;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-around;
    line-height: 40px;
}
.card-container2 h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16.6619px;

}
.login2 {
    width: 50px;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #FAB0AF;
    border-radius: 3px;
    outline: none;
    background-color: #FAB0AF;
    color: white;
    cursor: pointer;
    margin-top:10px;
    margin-left: 10px;
  }
  
  .login2:hover {
    background-color: #ffbbca;
    border:  #ffbbca;
  }


