.card-container {
    width: 90%;
    background-color: #F1F2F3;
    border-radius: 2.48873px;
    border:1px solid teal;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-around;
}
.card-container h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16.6619px;

}
.login2 {
    width: 50px;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid teal;
    border-radius: 3px;
    outline: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-top:10px;
    margin-left: 10px;
  }
  
  .login2:hover {
    background-color: aquamarine;
    border: aquamarine;
  }


